img(src=item.img_path, alt='First slide')
.container
  .carousel-caption
    h1 #{item.caption}
    p
      | #{item.text}
    p
      a.btn.btn-lg.btn-primary(href=item.button_href, role='button') #{item.button_label}