.container.marketing(id='info')
  // START THE FEATURETTES
  // FIXME: TODO: Use markdown so that newlines are correctly interpreted OR replace newlines w/ linebreaks
  hr.featurette-divider
  each item, index in general.services
    if index%2 == 0
      .row.featurette(id=item.name)
        .col-md-7
          h2.featurette-heading
            | #{item.heading}
          p.lead
            | !{item.text.replace(/\n/g, '<br/>')}
          p
            a.btn.btn-lg.btn-primary(href=item.button_href, role='button') #{item.button_label}
        .col-md-5
          img.featurette-image.img-responsive(src=item.img_path, alt='Generic placeholder image')
      hr.featurette-divider
    else
      .row.featurette(id=item.name)
        .col-md-5
          img.featurette-image.img-responsive(src=item.img_path, alt='Generic placeholder image')
        .col-md-7
          h2.featurette-heading
            | #{item.heading}
          p.lead
            | !{item.text.replace(/\n/g, '<br/>')}
          p
            a.btn.btn-lg.btn-primary(href=item.button_href, role='button') #{item.button_label}
      hr.featurette-divider
    end
  // /END THE FEATURETTES