extends layout.jade

block content
  .container
    hr.featurette-divider
    each category in projects
      
      // START THE PROJECTS
      h1 #{category.heading}
      hr.featurette-divider
      each item, index in category.projects
        if index%2 == 0
          .row.featurette(id=item.name)
            .col-md-7
              h2.featurette-heading
                | #{item.heading}
              p.lead
                | !{item.text.replace(/\n/g, '<br/>')}
            .col-md-5
              img.featurette-image.img-responsive(src=item.img_path, alt='Generic placeholder image')
          hr.featurette-divider
        else
          .row.featurette(id=item.name)
            .col-md-5
              img.featurette-image.img-responsive(src=item.img_path, alt='Generic placeholder image')
            .col-md-7
              h2.featurette-heading
                | #{item.heading}
              p.lead
                | !{item.text.replace(/\n/g, '<br/>')}
          hr.featurette-divider
        end
      // /END THE PROJECTS